@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --blue: #2b59d6;
  --purple: #8c4cd1;
  --purple-dark: #66418d;
  --blue-twitter: #2aa9e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='winterlight'] ::selection {
	background-color: var(--title);
	color: var(--background);
}

html[data-theme='winterdark'] ::selection {
	background-color: var(--background);
	color: var(--title);
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

.countdownContainer {
	font-family: "Rajdhani";
}

button {
  cursor: pointer;
}

*:focus, button:focus { 
	outline: 0.1em var(--red) solid;
	outline-offset: 0.1rem;
}

*:focus:not(:focus-visible), button:focus:not(:focus-visible) {
	outline: 0;
	outline-offset: 0.25rem;
}

*:focus-visible, button:focus-visible { 
	outline: 0.25em var(--red) dashed;
	outline-offset: 0.25rem;
}

.skip-link {
	position: absolute;
	top: 0;
	right: 100%;
	z-index: 500;
  }

.skip-link:focus {
	right: auto;
	background-color: var(--title);
	color: var(--background);
	border: var(--background) 3px solid;
	padding: 1em;
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
