@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --blue: #2b59d6;
  --purple: #8c4cd1;
  --purple-dark: #66418d;
  --blue-twitter: #2aa9e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='winterlight'] ::selection {
	background-color: var(--title);
	color: var(--background);
}

html[data-theme='winterdark'] ::selection {
	background-color: var(--background);
	color: var(--title);
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

.countdownContainer {
	font-family: "Rajdhani";
}

button {
  cursor: pointer;
}

*:focus, button:focus { 
	outline: 0.1em solid;
	outline-offset: 0.1rem;
}

*:focus:not(:focus-visible), button:focus:not(:focus-visible) {
	outline: 0;
	outline-offset: 0.25rem;
}

*:focus-visible, button:focus-visible { 
	outline: 0.25em dashed;
	outline-offset: 0.25rem;
}

.shine {
    position: absolute;
    top: 0; left: 0;
    width: 100px;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255,0);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 25%,
        rgba(179, 185, 255, .7) 50%,
        rgba(255, 255, 255, 0) 75%
    );
    transform: skewX(-20deg) translateX(-100%);
    animation: 4s ease-in-out 0s infinite forwards shine;
}

@keyframes shine { 
    20%, 100% { transform: translateX(150%); }
}